/* Global styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffebcd; /* Light apricot background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  height: 100vh; /* Make the body cover the whole viewport height */
}

/* Error 404 styling */
.error-message {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
}

/* Add responsive styles */
@media only screen and (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  body {
    padding: 20px 0;
  }

  .error-message {
    font-size: 18px; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust margin for smaller screens */
  }
}


/* Game container */
#game {
  background-color: #ffcc99; /* Peach container background */
  border: 5px solid #ff9966; /* Coral border */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Game title */
h1 {
  color: #ff9966; /* Coral title color */
  font-size: 70px;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Player choice buttons */
#choices {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.choice {
  background-color: #ff9966; /* Coral button background */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 65px;
  padding: 10px 20px;
  text-align: center;
  transition-duration: 0.4s;
}

.choice:hover {
  background-color: #ff8533; /* Slightly darker coral on hover */
}

/* Display result */
#result {
  color: #ff8533; /* Darker coral result color */
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Display player and computer scores */
#score {
  background-color: #ff9966; /* Coral score background */
  border-radius: 5px;
  color: white;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

#score p {
  margin: 0;
}

#score span {
  font-weight: bold;
}

/* Play Again button */
#reset {
  background-color: #ff8533; /* Darker coral reset button background */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  transition-duration: 0.4s;
  display: block;
  margin: auto;
}

#reset:hover {
  background-color: #ff9966; /* Lighter coral on hover */
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    justify-content: flex-start;
    padding: 20px 0;
  }

  #game {
    width: 100%;
    padding: 20px;
    margin-top: 0;
    height: auto;
  }

  h1 {
    font-size: 32px;
  }

  .choice {
    font-size: 32px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
  }

  #result {
    font-size: 24px;
  }

  #score {
    font-size: 20px;
    padding: 10px;
  }

  #reset {
    font-size: 18px;
    padding: 10px 20px;
  }
}

/* Display computer's choice */
#computer-choice {
  color: #ff8533; /* Darker coral computer choice color */
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Rules of the game container */
#rules-container {
  background-color: #ffcc99; /* Peach container background */
  border: 5px solid #ff9966; /* Coral border */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Rules title */
#rules-container h2 {
  color: #ff9966; /* Coral title color */
  font-size: 70px;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Rules paragraphs */
#rules-container .rules {
  color: #ff8533; /* Darker coral text color */
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 5px;
  text-align: center;
}

/* Error 404 styling */
.error-message {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  margin-top: 100px;
}
